.bg-light-shadow {
  background: $light;
  box-shadow:
    10px 10px 20px 0 $lightShadow,
    inset 15px 15px 40px 0 $darkShadow;
}

.br-50 {
  border-radius: 50px;
}

.txt-dark {
  color: $dark;
}

.txt-error {
  color: $error;
}
