/***** Margin *****/
.mb-128 {
  margin-bottom: 128px;
}
.mb-64 {
  margin-bottom: 64px;
}
.mb-32 {
  margin-bottom: 32px;
}
.mb-16 {
  margin-bottom: 16px;
}

.ml-128 {
  margin-left: 128px;
}
.ml-64 {
  margin-left: 64px;
}
.ml-32 {
  margin-left: 32px;
}
.ml-16 {
  margin-left: 16px;
}

/***** Padding *****/
.p-64-0 {
  padding: 64px 0px;
}
.p-64-128 {
  padding: 64px 128px;
}
.p-32-64 {
  padding: 32px 64px;
}
.p-16-32 {
  padding: 16px 32px;
}
.p-8-16 {
  padding: 8px 16px;
}
